<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newsupplytech.projectapplication.modules.mapper.CommAttachmentMapper">

    <update id="deleteById">
        update nst_comm_attachment
        set is_del='1'
        where id=#{id}
    </update>
</mapper>